 .u-section-1 {
  background-image: url("images/default-image-7.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 808px;
}

.u-section-1 .u-text-1 {
  margin: 55px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  font-weight: 700;
  font-size: 1.125rem;
  width: 377px;
  font-style: normal;
  margin: 23px auto 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.9445em;
  vertical-align: -10px;
  margin-left: 0;
  width: 36px;
  height: 36px;
}

.u-section-1 .u-list-1 {
  margin-top: 38px;
  margin-bottom: 54px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 559px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/WhatsAppImage2022-03-13at3.19.46PM.jpeg");
  background-position: 50% 50%;
  margin: 6px auto 0;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  margin: 14px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 23px 1px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/12.jpeg");
  background-position: 50% 11.55%;
  margin: 6px auto 0;
}

.u-section-1 .u-text-6 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 14px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 23px 1px 0 0;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-1 .u-icon-7 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1306px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}